body {
    background-color: var(--bg-color-dark);
    background-image: url('../../assets/icons/login_background.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.login_error{
    color: var(--form-input-error-border-color);
    font-size: 14px !important;
    display: none;
}

.login_error[error="true"]{
    display: block;
}